/* 清除默认边距 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box > header {
  width: 100%;
  height: 5rem;
  background-color: chocolate;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  color: white;
}
.box > main {
  flex: 1;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.box > main > .left {
  flex-grow: 1;
  background-color: #bfb419;
}
.box > main > .center {
  flex-grow: 3;
  background-color: #199ebf;
}
.box > main > .right {
  flex-grow: 1;
  background-color: #bf1919;
}
.box > footer {
  background-color: #86b627;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  color: white;
}
